:host ::ng-deep .p-avatar {
  border: 2px solid orange;

  &:hover {
    border: 2px solid black;
    cursor: pointer;
  }
}

.container {
  border-bottom: 3px solid orange;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .tabs-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    .signinBtn {
      color: white;
      background-color: orange;
      padding: 10px;
    }

    .popup {
      margin-top: 10px;
    }
  }
}
