<div class="auth-container">
  <p-card>
    <h2>
      {{
        signInMode ? ("AUTH.SIGNIN" | translate) : ("AUTH.SIGNUP" | translate)
      }}
    </h2>
    @if(signInMode){
    <form
      [formGroup]="signInForm"
      class="form-container"
      (ngSubmit)="loginUser()"
    >
      <label for="email">{{ "AUTH.EMAIL" | translate }}</label>
      <input
        pInputText
        id="email"
        aria-describedby="email-help"
        formControlName="email"
      />
      @if(signInForm.get('email')!.invalid && signInForm.get('email')!.touched){
      <small id="email-help" class="red-err">
        {{ "AUTH.ERRORS.EMAIL" | translate }}
      </small>
      }
      <label for="password">{{ "AUTH.PASSWORD" | translate }}</label>
      <input
        pInputText
        id="password"
        aria-describedby="username-help"
        type="password"
        formControlName="password"
      />

      <span class="no-account" (click)="toggleMode()">{{
        "AUTH.NO_ACCOUNT" | translate
      }}</span>
      <button
        pButton
        pRipple
        label="{{ 'AUTH.SIGNIN' | translate }}"
        class="p-button-warning"
        [disabled]="signInForm.invalid"
      ></button>
    </form>
    } @else {
    <form
      [formGroup]="signUpForm"
      class="form-container"
      (ngSubmit)="registerUser()"
    >
      <label for="email">{{ "AUTH.EMAIL" | translate }}</label>
      <input
        pInputText
        aria-describedby="username-help"
        formControlName="email"
      />
      @if(signUpForm.get('email')!.invalid && signUpForm.get('email')!.touched){
      <small class="red-err">
        {{ "AUTH.ERRORS.EMAIL" | translate }}
      </small>
      }
      <div class="form-row">
        <div class="input-cont">
          <label for="password">{{ "AUTH.PASSWORD" | translate }}</label>
          <input
            pInputText
            aria-describedby="username-help"
            type="password"
            formControlName="password"
          />
          @if(signUpForm.get('password')!.invalid &&
          signUpForm.get('password')!.touched){
          <small class="red-err">
            {{ "AUTH.ERRORS.PASSWORD" | translate }}
          </small>
          }
        </div>
        <div class="input-cont">
          <label for="confirmPassword">{{
            "AUTH.CONFIRM_PASSWORD" | translate
          }}</label>
          <input
            pInputText
            id="confirmPassword"
            aria-describedby="username-help"
            type="password"
            formControlName="confirmPassword"
          />
          @if(signUpForm.get('confirmPassword')!.invalid &&
          signUpForm.get('confirmPassword')!.touched){
          <small class="red-err">
            {{ "AUTH.ERRORS.CONFIRM_PASSWORD" | translate }}
          </small>
          }
        </div>
      </div>
      <div class="form-row">
        <div class="input-cont">
          <label for="firstName">{{ "AUTH.FIRSTNAME" | translate }}</label>
          <input
            pInputText
            id="firstName"
            aria-describedby="username-help"
            formControlName="firstName"
          />
          @if(signUpForm.get('firstName')!.invalid &&
          signUpForm.get('firstName')!.touched){
          <small class="red-err">
            {{ "AUTH.ERRORS.FIRSTNAME" | translate }}
          </small>
          }
        </div>
        <div class="input-cont">
          <label for="lastName">{{ "AUTH.LASTNAME" | translate }}</label>
          <input
            pInputText
            id="lastName"
            aria-describedby="username-help"
            formControlName="lastName"
          />
          @if(signUpForm.get('lastName')!.invalid &&
          signUpForm.get('lastName')!.touched){
          <small class="red-err">
            {{ "AUTH.ERRORS.LASTNAME" | translate }}
          </small>
          }
        </div>
      </div>

      <label for="dateOfBirth">{{ "AUTH.DATE_OF_BIRTH" | translate }}</label>
      <p-calendar
        [iconDisplay]="'input'"
        [showIcon]="true"
        inputId="icondisplay"
        id="dateOfBirth"
        formControlName="dateOfBirth"
        dateFormat="dd.mm.yy"
      />
      @if(signUpForm.get('dateOfBirth')!.invalid &&
      signUpForm.get('dateOfBirth')!.touched){
      <small class="red-err">
        {{ "AUTH.ERRORS.DATE_OF_BIRTH" | translate }}
      </small>
      }
      <span class="no-account" (click)="toggleMode()">{{
        "AUTH.NO_ACCOUNT" | translate
      }}</span>
      <button
        pButton
        pRipple
        label="{{ 'AUTH.SIGNUP' | translate }}"
        class="p-button-warning"
        [disabled]="signUpForm.invalid"
      ></button>
    </form>
    }
  </p-card>
</div>
